[user]
  email = chris.corsair@gmail.com
	name = M. Sun
[core]
  excludesfile = /Users/corsair/.gitignore_global

[color]
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[alias]
  graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  topo = log --graph --all --decorate --simplify-by-decoration --oneline --date=relative --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  stat = status -sb
  discard = stash save --keep-index Discarded

[i18n]
	commitEncoding = utf-8
	logOutputEncoding = utf-8
